{% extends 'layout.html' %}

{% block body %}
<h1>TU Berlin - Web-basierter Versuch</h1>
<p>In der integrierten Lehrveranstaltung "Modellbildung und Simulation mechatronischer Systeme" werden grundlegene
    Kenntnisse auf den Gebieten der
    kausalen und akausalen Modellierung mechatronischer Systeme vermittelt. In der Modellierung besitzen die Aspekte
    Validierung durch Rechnungs- Messungvergleich
    und Parametrierung der Modelle einen hohen Stellenwert. Zur Validierung eines Modells und zur Parametrierung sind
    Messungen an den realen Aufbauten notwendig.
    Damit in der oben gennnten Lehrveranstaltung die Studierenden dieses praktischen Teil der Modellierung erlernen,
    soll ein neuer Versuch aufgebaut werden. Die
    Durchführung des Versuchs soll für die Studierenden zeitlich möglichst flexibel sein, wobei die Betreuung durch das
    Fachgebiet MDT effizient ausgeführt werden
    muss. Diese Randbedingungen lassen sich durch eine Web-basierte Steuerung des Versuchs erzielen.
</p>
<div>
    <img src="{{url_for('static', filename='TU_Logo_lang.JPG')}}" />
</div>
{% endblock %}