{% extends 'layout.html' %} {% block body %}
<h1>Dashboard &nbsp; &nbsp; &nbsp; <small>Willkommen {{session.username}}</small></h1>

<br>
<br>

<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#fileUpload">
  Neue Messung hinzufügen
</button>

<div class="modal fade" id="fileUpload" tabindex="-1" role="dialog" aria-labelledby="fileUploadTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fileUploadLongTitle">Neue Messung hinzufügen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Laden Sie die Datei mit der Spannungsvorgabe hier hoch.
        <br>
        <br>
        <form method="POST" enctype="multipart/form-data">
          1. &nbsp; <input type="file" name="file" style="width: 400px;" />
          <br>
          <br>
          2. &nbsp; <input type="submit" value="Datei hochladen" class="btn btn-outline-success btn-sm"
            style="width: 130px;" />
        </form>
      </div>

    </div>
  </div>
</div>

<br>
<br>
<p>Zum Interagieren bitte auf den entsprechenden Datensatz klicken.</p>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th style="width: 3%;"></th>
        <th style="width: 3%;">ID</th>
        <th style="width: 34%;">Hochgeladene Datei</th>
        <th style="width: 20%;">Datum (Upload)</th>
        <th style="width: 20%;">Datum (Messung)</th>
        <th style="width: 20%;">Aktion/Status</th>
      </tr>
    </thead>
    {% if files is defined %}
    <tbody>
      {% for file in files %}
      <tr class="accordion-toggle collapsed" id="accordion2" data-toggle="collapse" data-parent="#accordion2"
        href="#collapse{{file.index}}">
        <td class="expand-button" style="width: 3%;"></td>
        <td style="width: 3%;">{{file.id}}</td>
        <td style="width: 34%;">{{file.name}}</td>
        <td style="width: 20%;">{{file.upload_date}}</td>
        {% if file.status == 'executed' %}
        <td style="width: 20%;">{{file.execution_date}}</td>
        {% else %}
        <td style="color: rgb(131, 131, 131);width: 20%;">Noch nicht durchgeführt</td>
        {% endif %}

        <td style="width: 20%;">
          {% if file.status == 'uploaded' %}
          <form action="{{url_for('start_measurement', id=file.id)}}" method="POST">
            <input type="hidden" name="_method" value="Messung starten" />
            <input type="submit" value="Messung starten" class="btn btn-primary btn-block" />
            {% elif file.status == 'in_queue' %}
            <button type="button" class="btn btn-secondary btn-block" disabled>Messung gestartet</button>
            {% else %}
            <button type="button" class="btn btn-success btn-block" disabled>Messung durchgeführt</button>
            {% endif %}
          </form>
        </td>
      </tr>

      <tr class="hide-table-padding">
        <!-- <td></td> -->
        <!-- Plot voltage specification -->
        <td colspan="3">
          <div id="collapse{{file.index}}" class="collapse in p-3">
            <!-- <div id="plot{{file.index}}" style="width:450px;height:350px;"></div> -->
            <div id="plot{{file.index}}" style="width:400px;height:300px;"></div>
            <!-- <div id="plot" style="width:400px;height:300px;"></div> -->


          </div>
        </td>
        <!-- Plot results -->
        <td colspan="2">
          <div id="collapse{{file.index}}" class="collapse in p-3">
            {% if file.status == 'executed' %}

            <!-- data-ride="carousel" -->
            <div id="carouselIndicator{{file.index}}" class="carousel slide" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#carouselIndicator{{file.index}}" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicator{{file.index}}" data-slide-to="1"></li>
                <li data-target="#carouselIndicator{{file.index}}" data-slide-to="2"></li>
                <li data-target="#carouselIndicator{{file.index}}" data-slide-to="3"></li>
                <li data-target="#carouselIndicator{{file.index}}" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div id="ydata_results_mot_volt{{file.index}}" style="width:400px;height:300px;"></div>
                </div>
                <div class="carousel-item">
                  <div id="ydata_results_gen_volt{{file.index}}" style="width:400px;height:300px;"></div>
                </div>
                <div class="carousel-item">
                  <div id="ydata_results_current{{file.index}}" style="width:400px;height:300px;"></div>
                </div>
                <div class="carousel-item">
                  <div id="ydata_results_rpm{{file.index}}" style="width:400px;height:300px;"></div>
                </div>
                <div class="carousel-item">
                  <div id="ydata_results_temp{{file.index}}" style="width:400px;height:300px;"></div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselIndicator{{file.index}}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselIndicator{{file.index}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            {% endif %}
          </div>

        </td>
        <!-- Buttons for interaction -->
        <td colspan="1">
          <div id="collapse{{file.index}}" class="collapse in p-3">
            {% if file.status == 'executed' %}
            <a href="{{file.result_path}}" download class="btn btn-primary btn-block" style="vertical-align: top;">Daten
              herunterladen</a>
            {% endif %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal"
              data-target="#deleteEntry{{file.id}}">
              Eintrag Löschen
            </button>

            <!-- Modal -->
            <div class="modal fade" id="deleteEntry{{file.id}}" tabindex="-1" role="dialog"
              aria-labelledby="deleteEntryTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteEntryLongTitle">Eintrag wirklich löschen?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Möchten Sie die Datei {{file.name}} mit der ID {{file.id}} wirklich löschen?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Abbrechen</button>

                    <form action="{{url_for('delete_entry', id=file.id)}}" method="POST">
                      <input type="hidden" name="_method" value="Eintrag Löschen" />
                      <input type="submit" value="Eintrag Löschen" class="btn btn-danger btn-sm btn-block"
                        style="vertical-align: bottom;" />
                    </form>

                  </div>
                </div>
              </div>
            </div>

        </td>
      </tr>
      {% endfor %}


    </tbody>
    <tr style="border-bottom: 1pt solid black; "></tr>

  </table>
</div>
{% else %}
</table>
</div>
<br>
<div style="text-align: center;">Noch keine Einträge vorhanden.</div>

{% endif %}
<br>
<br>
<br>
<br>

<!-- Script -->
<script>
  var slice_rows = 6;  // number of rows to slice from csv file (header of file)

  // iteration step for data to take from the csv file, the higher the faster the
  // data is plotted, less data available to inspect though. As the data to work
  // with is downloaded completly, this can be a nice way to speed up the 
  // visualizaion process for the dashboard
  var intertion_step_plot = 10;  
  var csv_time = 'Zeit[s]';
  var csv_motor_voltage = 'Spg. Motor[V]';
  var csv_generator_voltage = 'Spg. Generator[V]';
  var csv_current = 'Spg. Strommessung[V]';
  var csv_rpm = 'Spg. Tachometer[V]';
  var csv_temperature = 'Spg. AI6[V]';


  {% for file in files %}

  // file with user voltage specification
  var path{{file.index}} = "{{url_for('static', filename=file.path)}}"

  // get data form csv file and process the data
  function makeplot{{ file.index }}(path{{ file.index }}) {
    Plotly.d3.csv(path{{ file.index }}, function (data{{file.index}}) { processData{{file.index}}(data{{file.index}}) });
  }

  function processData{{file.index}}(allRows) {
    var x = [], y = [];

    for (var i = 0; i < allRows.length; i++) {
      row = allRows[i];
      x.push(row['time']);
      y.push(row['voltage']);
    }
    makePlotly{{file.index}}(x, y);
  }

  // define x, y and axis layout
  function makePlotly{{file.index}}(x, y) {
    var plotDiv = document.getElementById('plot{{file.index}}');
    var traces = [{
      x: x,
      y: y
    }];
    var layout = {
      title: 'Spannungsvorgabe',
      xaxis: {
        title: 'Zeit in s'
      },
      yaxis: {
        title: 'Spannung in V',
        showgrid: true
      }
    }

    Plotly.newPlot(plotDiv, traces, layout);
  }

  makeplot{{ file.index }}(path{{ file.index }});


  // console.log(allRows);
  {% if file.status == 'executed' %}

  var path_results{{file.index}} = "{{url_for('static', filename=file.result_path)}}"

  function makeplot_results{{ file.index }}(path_results{{ file.index }}) {
    Plotly.d3.csv(path_results{{ file.index }}, function (data_mot{{file.index}}) { 
      processData_mot{{file.index}}(data_mot{{file.index}}.slice(slice_rows)),
      processData_gen{{file.index}}(data_mot{{file.index}}.slice(slice_rows)),
      processData_current{{file.index}}(data_mot{{file.index}}.slice(slice_rows)),
      processData_rpm{{file.index}}(data_mot{{file.index}}.slice(slice_rows)),
      processData_temp{{file.index}}(data_mot{{file.index}}.slice(slice_rows))
    });
  }


  // motor voltage
  function processData_mot{{file.index}}(allRows) {
    var x = [], y = [];

    for (var i = 0; i < allRows.length; i=i+intertion_step_plot) {
      row = allRows[i];
      x.push(row[csv_time]);
      y.push(row[csv_motor_voltage]);
    }
    makePlotly_mot{{file.index}}(x, y);
  }

  function makePlotly_mot{{file.index}}(x, y) {
    var plotDiv = document.getElementById('ydata_results_mot_volt{{file.index}}');
    var traces = [{
      x: x,
      y: y
    }];
    var layout = {
      title: 'Motorspannung',
      xaxis: {
        title: 'Zeit in s'
      },
      yaxis: {
        title: 'Spannung in V',
        showgrid: true
      }
    }

    Plotly.newPlot(plotDiv, traces, layout);
  }

  // makeplot_results_mot(path_results{{file.index}} );


  // generator voltage
  function processData_gen{{file.index}}(allRows) {
    var x = [], y = [];

    for (var i = 0; i < allRows.length; i=i+intertion_step_plot) {
      row = allRows[i];
      x.push(row[csv_time]);
      y.push(row[csv_generator_voltage]);
    }
    makePlotly_gen{{file.index}}(x, y);
  }

  function makePlotly_gen{{file.index}}(x, y) {
    var plotDiv = document.getElementById('ydata_results_gen_volt{{file.index}}');
    var traces = [{
      x: x,
      y: y
    }];
    var layout = {
      title: 'Generatorspannung',
      xaxis: {
        title: 'Zeit in s'
      },
      yaxis: {
        title: 'Spannung in V',
        showgrid: true
      }
    }

    Plotly.newPlot(plotDiv, traces, layout);
  }


  // current
  function processData_current{{file.index}}(allRows) {
    var x = [], y = [];

    for (var i = 0; i < allRows.length; i=i+intertion_step_plot) {
      row = allRows[i];
      x.push(row[csv_time]);
      y.push(row[csv_current]);
    }
    makePlotly_current{{file.index}}(x, y);
  }

  function makePlotly_current{{file.index}}(x, y) {
    var plotDiv = document.getElementById('ydata_results_current{{file.index}}');
    var traces = [{
      x: x,
      y: y
    }];
    var layout = {
      title: 'Motorstrom',
      xaxis: {
        title: 'Zeit in s'
      },
      yaxis: {
        title: 'Strom in A',
        showgrid: true
      }
    }

    Plotly.newPlot(plotDiv, traces, layout);
  }


  // rpm
  function processData_rpm{{file.index}}(allRows) {
    var x = [], y = [];

    for (var i = 0; i < allRows.length; i=i+intertion_step_plot) {
      row = allRows[i];
      x.push(row[csv_time]);
      y.push(row[csv_rpm]);
    }
    makePlotly_rpm{{file.index}}(x, y);
  }

  function makePlotly_rpm{{file.index}}(x, y) {
    var plotDiv = document.getElementById('ydata_results_rpm{{file.index}}');
    var traces = [{
      x: x,
      y: y
    }];
    var layout = {
      title: 'Drehzahl',
      xaxis: {
        title: 'Zeit in s'
      },
      yaxis: {
        title: 'Drehzahl in 1/min',
        showgrid: true
      }
    }

    Plotly.newPlot(plotDiv, traces, layout);
  }


  // temperature
  function processData_temp{{file.index}}(allRows) {
    var x = [], y = [];

    for (var i = 0; i < allRows.length; i=i+intertion_step_plot) {
      row = allRows[i];
      x.push(row[csv_time]);
      y.push(row[csv_temperature]);
    }
    makePlotly_temp{{file.index}}(x, y);
  }

  function makePlotly_temp{{file.index}}(x, y) {
    var plotDiv = document.getElementById('ydata_results_temp{{file.index}}');
    var traces = [{
      x: x,
      y: y
    }];
    var layout = {
      title: 'Temperatur',
      xaxis: {
        title: 'Zeit in s'
      },
      yaxis: {
        title: 'Temperatur in °C',
        showgrid: true,
        range: [(Math.min.apply(Math, y) -5), (Math.max.apply(Math, y) + 5)]
      }
    }

    Plotly.newPlot(plotDiv, traces, layout);
  }

  // plot all results
  makeplot_results{{ file.index }}(path_results{{ file.index }});


  {% endif %}

  {% endfor %}
 

</script>

{% endblock %}