<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/bootstrap-3-3-7.css') }}"
    /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/style.css') }}"
    />
    <title>TU Berlin - MDT Teststand</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon-io-mdt/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon-io-mdt/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon-io-mdt/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon-io-mdt/site.webmanifest') }}"
    />
  </head>

  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% include 'includes/_messages.html' %} {% block body %}{% endblock %}
    </div>

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script>
      src = "{{ url_for('static', filename='script/script.js') }}";
    </script>
    <!-- <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script> -->
    <!-- <script type="text/javascript">
      CKEDITOR.replace("editor");
    </script> -->
  </body>
</html>
