<title>TUB-Prüfstand - Einstellungen</title>
{% extends 'layout.html' %} {% block body %}

<div>
    <br>
    <h5>Anzahl angemeldeter User: <b>{{num_users}}</b> &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Anzahl durchgeführter Tests: <b>{{files_executed}}</b></h5>
    <br>
    <br>
</div>
<div>
    <br>
    <h5>Angemeldete User</h5>
    <br>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>E-Mail</th>
            <th>Datum der Registrierung</th>
        </tr>
        <tr>
            {% for entry in entries_user %}
        </tr>
        <td>{{entry.id}}</td>
        <td>{{entry.username}}</td>
        <td>{{entry.email}}</td>
        <td>{{entry.register_date}}</td>
        {% endfor %}
    </table>
</div>
<div>
    <br>
    <br>
    <h5>Hochgeladene Dateien</h5>
    <br>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Dateiname</th>
            <th>Username</th>
            <th>Datum upload</th>
            <th>Status</th>
            <th>Datum Ausführung</th>
            <th>Testdauer</th>
        </tr>
        <tr>
            {% for entry in entries_files %}
        </tr>
        <td>{{entry.id}}</td>
        <td>{{entry.name}}</td>
        <td>{{entry.username}}</td>
        <td>{{entry.upload_date}}</td>
        <td>{{entry.status}}</td>
        <td>{{entry.execution_date}}</td>
        <td>{{entry.test_duration}}</td>
        {% endfor %}
    </table>
</div>

<div>
    <br>
    <br>
    <br>
    <h5>Access log (letzte {{ accesslog|length }} Einträge)</h5>
    <table>
        {% for row in accesslog %}
        <tr>
            <td>
                {{row}}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>
    <br>
    <h5>Error log (letzte {{ errorlog|length }} Einträge)</h5>
    <table>
        {% for row in errorlog %}
        <tr>
            <td>
                {{row}}
            </td>
        </tr>
        {% endfor %}
    </table>

</div>
<br>
<br>
{% endblock %}