{% extends 'layout.html' %}

{% block body %}
<h1>Durchführung eines Versuchs</h1>
<br>
<br>
<p>Um einen Versuch an dem Prüfstand durchführen zu können, muss dem Prüfstand eine 
    Spannung übermittelt werden. Der vorzugebende Spannungsverlauf muss dabei in 
    einer csv-Datei gespeichert werden. Jede Zeile in der Datei entspricht einem 
    Spannungswert zu einem bestimmten Zeitpunkt. Die Samplerate am Prüfstand
    beträgt 250 Hz. Somit entsprechen 250 Werte in der csv-Datei dem Spannungsverlauf
    für eine Sekunde.
</p>
<p>Für die Erstellung des Spannungsverlauf kann das hier verfügbare Python Skript 
    verwendet werden. In der Datei 'create_voltage_curve.py' ist dazu ein Beispiel
    gegeben.</p>
<a href="{{url_for('static', filename='voltage-curve.zip')}}" download class="btn btn-primary" style="vertical-align: top;">
Python Skript herunterladen
</a>
<br>
<br>
<br>
<p>Nachdem Sie einen Spannungsverlauf erstellt haben, müssen Sie diesen noch an den
    Prüfstand übergeben. Dafür dient diese Webseite. Erstellen Sie einen Account und
    loggen Sie sich anschließend ein. Nach dem Login sehen Sie ihr persönliches Dashboard.
    Hier können Sie ihre Messungen verwalten. Fügen Sie den erstellten Spannungsverlauf über
    den Button 'Neue Messung hinzufügen' ihrem Dashboard hinzu. 
</p>
<p>Sobald Sie ihren Spannugsverlauf hinzugefügt haben, können Sie diesen über den 
    Button 'Messung starten' am Prüfstand ausführen. Über den Reiter 'Webcam' 
    können Sie Ihre Messung live am Prüfstand verfolgen.
</p>
<p>Sobald die Messung durchgeführt wurde, werden die Messdaten an der entsprechenden 
    Stelle auf dem Dashboard angezeigt. Sie können die Messdaten inspizieren und 
    diese als csv-Datei herunterladen. Mit den erhaltenen Daten können Sie dann die
    Identifikation der Parameter Ihres Simulationsmodells vornehmen.
</p>
<p>Viel Spaß bei der Verwendung des Prüfstands.</p>

{% endblock %}