<title>TUB-Prüfstand - Testseite</title>
{% extends 'layout.html' %} {% block body %}


<br>
<p>Zum interagieren bitte auf den entsprechenden Datensatz klicken.</p>
<br>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>ID</th>
        <th>Hochgeladene Datei</th>
        <th>Datum (Upload)</th>
        <th>Datum (Messung)</th>
        <th>Aktion/Status</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
      <tr class="accordion-toggle collapsed" id="accordion2" data-toggle="collapse" data-parent="#accordion2"
        href="#collapse{{file.index}}">
        <td class="expand-button"></td>
        <td>{{file.id}}</td>
        <td>{{file.name}}</td>
        <td>{{file.upload_date}}</td>
        {% if file.status == 'executed' %}
        <td>{{file.execution_date}}</td>
        {% else %}
        <td style="color: rgb(131, 131, 131);">Noch nicht durchgeführt</td>
        {% endif %}

        <td>
          {% if file.status == 'uploaded' %}
          <form action="{{url_for('start_measurement', id=file.id)}}" method="POST">
            <input type="hidden" name="_method" value="Messung starten" />
            <input type="submit" value="Messung starten" class="btn btn-primary btn-block" />
            {% elif file.status == 'in_queue' %}
            <button type="button" class="btn btn-secondary btn-block" disabled>Messung gestartet</button>
            {% else %}
            <button type="button" class="btn btn-success btn-block" disabled>Messung durchgeführt</button>
            {% endif %}
          </form>
        </td>
      </tr>

      <tr class="hide-table-padding">
        <!-- <td></td> -->
        <td colspan="3">
          <div id="collapse{{file.index}}" class="collapse in p-3">
            <div id="plot{{file.index}}" style="width:400px;height:250px;"></div>
          </div>
        </td>
        <td colspan="2">
          <div id="collapse{{file.index}}" class="collapse in p-3">
            <div id="plot_results{{file.index}}" style="width:400px;height:250px;"></div>
          </div>
        </td>
        <td colspan="1">
          <div id="collapse{{file.index}}" class="collapse in p-3">
            {% if file.status == 'executed' %}
            <!-- <form href="{{file.result_path}}">
              <input type="hidden" name="_method" value="Daten herunterladen" />
              <input type="button" value="Daten herunterladen" class="btn btn-primary btn-block" />
            </form> -->
            <a href="{{file.result_path}}" download class="btn btn-primary btn-block" style="vertical-align: top;">Daten
              herunterladen</a>
            {% endif %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


            <form action="{{url_for('delete_entry', id=file.id)}}" method="POST">
              <input type="hidden" name="_method" value="Eintrag Löschen" />
              <input type="submit" value="Eintrag Löschen" class="btn btn-outline-danger btn-sm btn-block"
                style="vertical-align: bottom;" />
            </form>
        </td>
      </tr>
      <!-- <tr class="hide-table-padding">
        <td colspan="2">
          <div id="collapse{{file.index}}" class="collapse in p-3">
            <div id="plot_results{{file.index}}" style="width:400px;height:250px;"></div>
          </div>
        </td>
      </tr> -->
      {% endfor %}

    </tbody>
    <tr style="border-bottom: 10pt solid black; "></tr>

  </table>
</div>

<br>
<br>
<br>
<br>

<!-- Script -->
<script>
  {% for file in files %}
  plot = document.getElementById('plot{{file.index}}');

  var layout = {
    title: 'Spannungsvorgabe',
    xaxis: {
      title: 'Zeit in s'
    },
    yaxis: {
      title: 'Spannung in V',
      showgrid: true
    }
  }

  Plotly.newPlot(plot, [{
    x: {{ file.xdata }},
    y: {{ file.ydata }},
}], layout, {
    margin: { t: 0 }
  });

  {% if file.status == 'executed' %}
  plot_results = document.getElementById('plot_results{{file.index}}');

  var layout_results = {
    title: 'Motorspannung',
    xaxis: {
      title: 'Zeit in s'
    },
    yaxis: {
      title: 'Spannung in V',
      showgrid: true
    }
  }

  Plotly.newPlot(plot_results, [{
    x: {{ file.xdata_results }},
    y: {{ file.ydata_results }},
}], layout_results, {
    margin: { t: 0 }
  });
  {% endif %}
  {% endfor %}
</script>

{% endblock %}