<title>TUB-Prüfstand - Webcam</title>
{% extends 'layout.html' %} {% block body %}

<br>
<h2>Webcam</h2>
    <p>
      Hier können sie den Prüfstand, an dem Sie die Messdaten für die
      Modellbildung aufnehmen, live beobachten.
    </p>
<br>
<br>
<div class="row">
  <div class="col md-8">
    <div>
      <h4>Video-stream</h4>
      <br>
      <!-- evtl. Groesse des Bildes ueber mdt seite einstellbar machen -->
      <img width="600" src="{{ url_for('video_feed') }}" alt="Webcam">
      <p>Falls der Videostream nicht dargestellt wird, verwenden Sie bitte einen
        anderen Browser.
      </p>
    </div>
  </div>

  <div class="col md-4">
    <br>
  <h4>Dateien in der Warteschlange</h4>
  <br>
  <i>
      Die Tests werden von oben nach unten durchgeführt. Der oberste Test ist
      der, der aktuell am Prüfstand durchgeführt wird.
  </i>
  <table class="table table-striped">
      <tr>
          <th>id</th>
          <th>filename</th>
      </tr>
      <tr>
          {% for entry in entries %}
      </tr>
      <td>{{entry.id}}</td>
      <td>{{entry.filename[3:]}}</td>
      {% endfor %}
  </table>

  </div>
</div>

<br>
<br>
<br>
<br>


{% endblock %}
